@page "/"

@inject HttpClient Http

<h3>Fetched Sensor Data</h3>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sensor ID</th>
                <th>Enqueued Time</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in data)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.sensorid</td>
                    <td>@item.enqueuedTime.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@item.value</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<SensorData> data;

    protected override async Task OnInitializedAsync()
    {
        data = await Http.GetFromJsonAsync<List<SensorData>>("api/Sensor/GetAll");
    }

    public class SensorData
    {
        public string Name { get; set; }
        public string sensorid { get; set; }
        public DateTime enqueuedTime { get; set; }
        public object value { get; set; }
    }
}
